{% extends 'base.html.twig' %}
{% block title %}
    Post Job
{% endblock %}

{% block body %}
    <h1>Job creation</h1>

    
    {{ form_start(form, {attr: {class: 'form-group'} }) }}
        {{ form_widget(form) }}

        <div class="form-group">
        
            <div class="col-sm-offset-2 col-sm-18">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    {{ form_end(form) }}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('js/job/list') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script> -->
    {% endblock %}
{% endblock %}