{% extends 'base.html.twig' %}
{% block title %}Jobs List {% endblock %}
 {% block stylesheets %}
     {# 'app' must match the first argument to addEntry() in webpack.config.js #}
     {{ parent() }}
     {{ encore_entry_link_tags('css/job/list') }}
 {% endblock %}

{% block body %}
    <div>
        <label for="serachJob">Query</label>
        <input class="form-control" type="text" name="serachJob" id="serachJob">
    </div>
   <h1 class="my-4">Liste des offres</h1>
    {% for message in app.flashes('exception') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for categorie in categoriesData %}
        <div class="categories {{ categorie.category.name }}">
            <input id="categoryselect" type="hidden" data-categoryselect="{{ categorie.category.name  }}">
            <div class="categoriesTitle">
                <h2 class="h2">{{ categorie.category.name |capitalize  }}<i class="fas fa-chevron-down"></i></h2>
            </div>
            <div class="categoriesContent">
                {% for job in categorie.jobs %}
                    <div class="job row">
                        <div class="col-md-7">
                            <a href="#">
                                <img height="200px" width="200px" class="img-thumbnail"   src="{{ asset('images/' ~ job.logo) }}" alt="{{ job.company }}">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h3>{{ job.position }}</h3>
                            <p>{{ job.description }}</p>
                            <p>Posted on {{ job.createdAt|date("m/d/Y") }}</p>
                            <a class="btn btn-primary" href="{{ path('job.show', { 'id': job.id }) }}">See more</a>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="navigation">
                {#  {{ knp_pagination_render(jobs) }}#}
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="previousPage page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item ">
                        <a class="currentPage page-link" href="/?page=1&cat={{ categorie.category.id }}"
                           data-categoryName="{{ categorie.category.name }}"
                           data-path="{{ path('job_paginate', {'cat': categorie.category.id }) }}">1</a>
                    </li>
                    <li class="page-item ">
                        <a class="nextPage page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('js/job/list') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script> -->
    {% endblock %}


{% endblock %}
