{% extends 'base.html.twig' %}
{% block title %}
    create Affiliate
{% endblock %}
 {% block stylesheets %}
     {# 'app' must match the first argument to addEntry() in webpack.config.js #}
     {{ parent() }}
     {{ encore_entry_link_tags('css/affiliate/list') }}
 {% endblock %}
{% block body %}
    <div class="createAffiliate">
        <h1>Affiliate create</h1>
        {% for message in app.flashes('exception') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form, {attr: {class: 'form-group'} }) }}
        {{ form_widget(form) }}

        <div class="form-group">

            <div class="col-sm-offset-2 col-sm-18">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
        {{ form_end(form) }}


    </div>
{% endblock %}